altgraph==0.17
click==7.1.2
configparser==5.0.0
joblib==0.15.1
macholib==1.14
mss==5.1.0
nltk==3.5
numpy==1.18.5
Pillow==7.1.2
psutil==5.7.0
PyInstaller==3.6
pynput==1.6.8
pyobjc-core
pyobjc-framework-Cocoa
pyobjc-framework-Quartz
pytesseract==0.3.4
python-rtmidi==1.4.1
regex==2020.6.8
rumps==0.3.0
six==1.15.0
textblob==0.15.3
tqdm==4.46.1
